
.center{
    margin-left: auto;
    margin-right: auto;
    display: block !important;
  }
  .textInformation{
    text-emphasis-color:rgb(53, 51, 51)!important;
    text-align: center;
    text-decoration-style: wavy;
  }