<ion-header>
  <ion-toolbar>
    <ion-title>
      Cantáctanos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


<ion-item>
  <ion-label position="floating">Nombres</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
    <ion-label position="floating">Correo electrónico</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
<ion-button class="center">Enviar</ion-button>    
</ion-content>

<ion-card-header padding class="textInformation"> 
    <ion-card-title>Información de contacto</ion-card-title>
  </ion-card-header>

  <ion-card-header padding class="textInformation">
      <ion-card-content>
        calle 80 <br>
        Bogotá <br>
        Colombia <br><br>
        (+57) 245-456 -123-4532<br>
        restaurante@calle80.com 
          </ion-card-content>
       </ion-card-header>
